#input-file{
    display: none;
}

#upload-img{
    margin: 20px auto;
    width: 200px;
    height: 150px;
}

#upload-img img{
    width: 200px;
    height: 150px;   
}

.fileImgDIv{
    width: 200px;
    height: 150px;
    display: inline-block;
    margin-right: 50px;
    background-color: aqua;
    position: relative;
}

.fileImg{
    width: 200px;
    height: 150px;
}

.fileSpan{
    color: red;
    position: absolute;
    font-size: 30px;
    font-weight: bold;
    right: 10px;
    cursor: pointer;
}
